[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "bundle/vim-scripts-a"]
	path = bundle/vim-scripts-a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/rainbow-parenthesis"]
	path = bundle/rainbow-parenthesis
	url = https://github.com/vim-scripts/Rainbow-Parenthesis.git
[submodule "bundle/reorder-tabs"]
	path = bundle/reorder-tabs
	url = https://github.com/vim-scripts/reorder-tabs.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/nerd-commenter"]
	path = bundle/nerd-commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/vim-scripts/Syntastic.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = git://github.com/vim-scripts/delimitMate.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/supertab"]
        path = bundle/supertab
        url = git://github.com/ervandew/supertab.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/matchit-ruby"]
	path = bundle/matchit-ruby
	url = git://github.com/vim-scripts/ruby-matchit.git
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = git://github.com/vim-scripts/cucumber.zip.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/vim-scripts/Markdown.git
[submodule "bundle/railscasts"]
	path = bundle/railscasts
	url = git://github.com/vim-scripts/railscasts.git
[submodule "bundle/paper"]
	path = bundle/paper
	url = git://github.com/vim-scripts/paper.git
[submodule "bundle/rdoc"]
	path = bundle/rdoc
	url = git://github.com/vim-scripts/RDoc.git
[submodule "bundle/gemfile"]
	path = bundle/gemfile
	url = git://github.com/vim-scripts/syntaxGemfile.vim.git
[submodule "bundle/sinatra"]
	path = bundle/sinatra
	url = git://github.com/vim-scripts/RubySinatra.git
[submodule "bundle/blockle"]
	path = bundle/blockle
	url = git://github.com/vim-scripts/blockle.vim.git
[submodule "bundle/textobj-rubyblock"]
	path = bundle/textobj-rubyblock
	url = git://github.com/vim-scripts/textobj-rubyblock.git
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = git://github.com/vim-scripts/textobj-user.git
[submodule "bundle/fokus"]
	path = bundle/fokus
	url = git://github.com/vim-scripts/fokus.git
[submodule "bundle/eruby"]
	path = bundle/eruby
	url = git://github.com/vim-scripts/eruby.vim.git
[submodule "bundle/ri-browser"]
	path = bundle/ri-browser
	url = git://github.com/vim-scripts/ri-browser.git
[submodule "bundle/rubycomplete"]
	path = bundle/rubycomplete
	url = git://github.com/vim-scripts/rubycomplete.vim.git
[submodule "bundle/haml"]
	path = bundle/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = git://github.com/vim-scripts/jslint.vim.git
[submodule "bundle/html5"]
	path = bundle/html5
	url = git://github.com/othree/html5.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = git://github.com/scrooloose/snipmate-snippets.git
